<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstapp"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="MorgenMisschien"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".add_and_edit_bewoners"
            android:exported="false"
            android:label="Huisgenoten bewerken en toevoegen"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".LeukeStatistieken" />
        <activity
            android:name=".StatistiekenKeuze"
            android:parentActivityName=".MainActivity"
            android:label="Statistieken" />
        <activity
            android:name=".adminPage"
            android:parentActivityName=".Statistieken"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_admin_page"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".MainActivity"
            android:label="MorgenMisschien"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bierPopup"
            android:parentActivityName=".Bierlijst"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Statistieken"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Bierlijst"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".EditBewoners"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden" />

    </application>

</manifest>